main {
  padding: 0 2rem;

  @media screen and (min-width: $small-breakpoint) {
    padding: 0 5rem;
  }
}

.profile-page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3rem;

  @media screen and (min-width: $small-breakpoint) {
    flex-direction: row;
  }
}

.no-missions-joined,
.no__reservations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  p {
    font-weight: 700;
  }

  @media screen and (min-width: $small-breakpoint) {
    align-items: start;
  }
}

.join-missions-link,
.reserve-rockets-link {
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  color: #18a2b8;
  border: 1px solid #18a2b8;
}

.join-missions-link:hover,
.reserve-rockets-link:hover {
  color: $light;
  background-color: #18a2b8;
}

.joined-missions,
.reserved-rockets {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  gap: 20px;

  @media screen and (min-width: $small-breakpoint) {
    text-align: start;
  }
}

.missions-list,
.rockets-list {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(165, 165, 165);
  border-bottom: none;

  li {
    border-bottom: 1px solid $secondary;
    padding: 10px;
  }
}

.btn {
  font-weight: 700;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $light;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.join-mission-btn {
  color: $secondary;
  border: 1px solid $secondary;
  background-color: white;
}

.join-mission-btn:hover {
  color: $light;
  background-color: $secondary;
}

.leave-mission-btn {
  background-color: white;
  color: $danger;
  border: 1px solid $danger;
}

.leave-mission-btn:hover {
  color: $light;
  background-color: $danger;
}

.active-tag {
  display: inline-block;
  color: $light;
  background-color: #18a2b8;
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-weight: 700;
  font-size: $font-size-base * 0.75;
}

.not-active-tag {
  font-size: $font-size-base * 0.75;
  display: inline-block;
  color: $light;
  background-color: $secondary;
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-weight: 700;
}

table {
  color: $dark;

  @media screen and (min-width: 768px) {
    border: 1px solid $secondary;
    border-collapse: collapse;
  }
}

thead {
  display: none;

  @media screen and (min-width: 768px) {
    display: table-header-group;

    th {
      padding: 10px;
      border: 1px solid $secondary;
      text-align: start;
    }
  }
}

tbody {
  display: flex;
  flex-direction: column;
  gap: 20px;

  tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid $secondary;
    border-radius: 8px;
  }

  .mission-name {
    font-weight: 800;
    text-decoration: underline;
  }

  .active-td,
  .btn-td {
    white-space: nowrap;
  }

  @media screen and (min-width: $small-breakpoint) {
    display: table-row-group;

    tr {
      display: table-row;
      text-align: start;
    }

    tr:nth-of-type(odd) {
      background-color: #f2f2f2;
    }

    td,
    th {
      padding: 10px;
      border: 1px solid $secondary;
    }

    .mission-name {
      text-decoration: none;
    }
  }
}
